@import url(reset.css);

:root {
    /* COLORS */
    --primary-blue: #35BFE1;
    --dark-blue: #0B7089;
    --medium-blue: #0597BB;

    --primary-yellow: #DDFF00;

    /* FONTS */
    --font-uppercase: 'Bebas Neue', Arial, Verdana, sans-serif;
    --font-lowercase: 'Bree Serif', serif;

}

body {
    font-family: var(--font-lowercase), serif;
    font-weight: 400;
    font-style: normal;
    background-size: 33px 33px;
    background-image:
        linear-gradient(to right, #31B2D1 1px, transparent 1px),
        linear-gradient(to bottom, #31B2D1 1px, transparent 1px);
}