---
import BaseLayout from "../layouts/BaseLayout.astro";
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
---
<BaseLayout title="MATTHEWGODDARD.COM | BELLEVUE UNIVERSITY WEBSITES">
    <Header />
    <div class="thumb-grid">
        <img src="/images/bellevue-degree-page.webp" alt="Bellevue University Degree Page">
        <img src="/images/bellevue-cybersecurity-page.webp" alt="Bellevue University Cybersecurity Page">
        <img src="/images/bellevue-library-home.webp" alt="Bellevue University Library Homepage">
        <img src="/images/bellevue-library-interior.webp" alt="Bellevue University Library Interior">
        <img src="/images/bellevue-science-blog.webp" alt="Bellevue University Science Blog">
        <img src="/images/bellevue-interior.webp" alt="Bellevue University Interior Page">
    </div>
    <Footer />
</BaseLayout>

<style>

    .thumb-grid {
        margin-inline: auto;
        margin-block: 2rem 0;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        max-width: 1250px;
        display: grid;
        gap: 1rem;
    }
    
    @media screen and (min-width: 800px) {
        
        .thumb-grid {
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
        }

    }

</style>