---

---
<header>
    <div class="header-grid">
        <a href="/">matthewgoddard.com</a>
        <a class="resume-link" href="/pdfs/matthew-goddard-resume.pdf" target="_blank">Resume</a>
    </div>
</header>

<style>

    header {
        top: 0;
        position: initial;
        background-color: transparent;
    }

    @media screen and (min-width: 600px) {

        header {
            top: 1rem;
            position: sticky;
        }

    }

    .header-grid {
        margin-inline: auto;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr;
        display: grid;
        text-align: center;
        background-color: #000;
    }

    @media screen and (min-width: 600px) {
        
        .header-grid {
            padding: 0.5rem 1.5rem;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: 1fr;
            text-align: left;
            max-width: 1200px;
            border-radius: 100vw;
        }

    }

    .header-grid a {
        color: #FFF;
        font-family: var(--font-uppercase);
        font-size: 2rem;
        text-decoration: none;
    }

    .header-grid a:first-child {
        color: var(--primary-blue);
        justify-self: center;
    }

    @media screen and (min-width: 615px) { 
        
        .header-grid a:first-child {
            justify-self: start;
        }

    }
        
    .header-grid a:first-child:hover, 
    .header-grid a:first-child:focus-visible {
        text-decoration: underline;
    }

    .header-grid .resume-link::after {
        content: url(/images/down-arrow.svg);
    }

    @media screen and (min-width: 600px) {
        
        .header-grid a:not(:first-child) {
            justify-self: end;
        }

    }

</style>