---

---
<section>
    <div class="intro-grid">
        <div>
            <h1>Matthew Goddard is a <span>Web Designer.</span></h1>
            <p>
                Hello! I am a web designer and musician looking for opportunities that utilize my creativity to solve problems. 
                I specialize in graphic design services like creating logos, icons and branding. I also dabble in video editing 
                and production. Let's make something cool together!
            </p>
        </div>
        <img class="my-face" src="/images/circle-me.webp" alt="My face.">
    </div>
    <ul class="benefits-grid">
        <li>
            Over 20+ years of web design experience
        </li>
        <li>
            Extensive knowledge of HTML and CSS (including Bootstrap and Tailwind)
        </li>
        <li>
            20+ years of experience with Adobe programs
        </li>
        <li>
            Wordpress experience (including custom template creation)
        </li>
        <li>
            Experience with GIT, Vue JS, Astro and Javascript
        </li>
        <li>
            <a href="/pdfs/matthew-goddard-resume.pdf" target="_blank">Get in touch and let's get to work!</a>
        </li>
    </ul>
</section>

<style>

    .intro-grid {
        margin-block: 0rem;
        margin-inline: auto;
        padding-inline: 1rem;
        display: grid;
        grid-template-columns: 1fr;
    }

    @media screen and (min-width: 1000px) { 
        
        .intro-grid {
            margin-block: 0 3rem;
            padding-inline: 2rem;
            grid-template-columns: 2fr 1fr;
            max-width: 1200px;
            align-items: center;
        }
        
    }

    .my-face {
        display: none;
    }

    @media screen and (min-width: 1000px) { 
        
        .my-face {
            display: block;
        }

    }

    h1 {
        font-family: var(--font-uppercase);
        font-size: clamp(6rem, 8vw, 7rem);
        color: #FFF;
        line-height: 1;
        max-width: 1200px;
        text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.25);
        text-align: center;
    }

    h1 span {
        color: #000;
    }

    p {
        margin-inline: auto;
        margin-bottom: 2rem;
        padding-inline: 2rem;
        font-size: 1.35rem;
        line-height: 1.75;
    }

    .benefits-grid {
        margin: 0 1rem 5rem;
        padding-inline: 2rem;
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: auto;
        gap: 2rem;
        list-style: none;
    }

    @media screen and (min-width: 600px) { 
        
        .benefits-grid {
            margin-inline: auto;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            max-width: 1200px;
        }

    }

    .benefits-grid li {
        padding: 1rem;
        background-color: #FFF;
        border: 1px var(--dark-blue) solid;
        border-radius: 4px;
        display: flex;
        align-items: center;
    }

    .benefits-grid li:last-child {
        text-wrap: pretty;
        background-color: var(--medium-blue);
        color: #FFF;
        font-size: 1.2rem;
    }

    .benefits-grid li:last-child a {
        text-decoration: none;
    }

    .benefits-grid li:last-child a:hover, 
    .benefits-grid li:last-child a:focus-visible {
        text-decoration: underline;
    }

</style>