---

---
<section class="portfolio">
    <div class="portfolio-header">
        <h2>Portfolio</h2>
    </div>
    
    <div class="portfolio-grid">
        <a class="portfolio-button tgs" href="http://www.terriblegeralds.com" target="_blank"><span>Terrible Gerald's Website</span></a>
        <a class="portfolio-button bu" href="bellevue"><span>Bellevue University Website</span></a>
        <a class="portfolio-button logos" href="logos"><span>Logos</span></a>
        <a class="portfolio-button albums" href="album-covers"><span>Album Art</span></a>
    </div>
</section>

<style>

    .portfolio {
        overflow: hidden;
    }

    .portfolio-header h2 {
        margin: 2rem auto;
        font-family: var(--font-uppercase);
        font-size: 3rem;
        color: var(--primary-blue);
        max-width: 1200px;
    }

    .portfolio {
        background-color: #000;
    }

    .portfolio-grid {
        margin-inline: auto;
        display: grid;
        grid-template-columns: 1fr;
        max-width: 1200px;
    }

    @media screen and (min-width: 600px) {
        
        .portfolio-grid {
            margin-inline: auto;
            display: grid;
            grid-template-columns: 1fr 1fr;
            gap: 3rem;
            max-width: 1200px;
        }

    }

    .portfolio-button {
        display: flex;
        align-items: center;
        justify-content: center;
        background-size: cover;
        background-position: center;
        border-radius: 4px;
        background-repeat: no-repeat;
        color: rgba(0, 0, 0, 0);
        text-decoration: none;
        font-size: 3rem;
        font-family: var(--font-uppercase);
        height: 250px;
        opacity: 0.55;
        transition: all 250ms ease-in-out;
        line-height: 1;
    }

    .portfolio-button span {
        background-color: transparent;
        transition: all 250ms ease-in-out;
    }

    .portfolio-button:hover span, .portfolio-button:focus-visible span {
        padding: 1rem;
        background-color: #DDFF00;
        border: none;
        outline: none;
    }

    .tgs {
        background-image: url(/images/button-tgs.webp);
    }

    .bu {
        background-image: url(/images/button-bu.webp);
    }

    .logos {
        background-image: url(/images/button-logos.webp);
    }

    .albums {
        background-image: url(/images/button-album-art.webp);
    }

    .portfolio-button:hover, .portfolio-button:focus-visible {
        color: #000;
        opacity: 1;
        border: none;
        outline: none;
    }

</style>