---

---
<section>
    <div class="portfolio-header">
        <h2>Portfolio</h2>
    </div>
    
</section>

<style>

    section {
        padding: 1rem;
        background-color: #000;
    }

    .portfolio-header {
        margin-inline: auto;
        max-width: 1200px;
    }

    .portfolio-header h2 {
        margin: 0;
        padding: 0;
        color: var(--primary-blue);
        font-family: var(--font-uppercase);
        font-size: 2rem;
    }

</style>